.login-background{
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg,rgba(34,193,195,1)0%,rgba(253,187,45,1)100%);
    background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1574');
    background-size: cover;
    .login-container{
     margin: auto;
     border-radius: 20px;
     background-color: white;
     opacity: 0.85;
     height: 450px;
     margin: auto; 
     .login-content{
         padding: 40px;
         label{
             margin-left: 10px;
             margin-top: 10px;
         }
         .btn{
             width: 80%;
             border-radius: 20px;
             margin-top: 20px;
         }
         input{
             border-radius: 20px;
             margin-top: 10px;
         }

         h1{
             font-weight: bold;
         }
         .regis-now{
            margin-top: 20px;
         }

         
     }
 }   
}