.login-background{
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg,rgba(34,193,195,1)0%,rgba(253,187,45,1)100%);
    // background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1574');
    background-image: url('../../public/image/login-background.jpg');
    background-size: cover;
    .login-container{
     margin: auto;
     border-radius: 20px;
     background-color: white;
     opacity: 0.85;
     height: 450px;
     margin: auto; 
     .login-content{
         .col-12{
             margin: 10px 0;
             display: flex;
            input{
                :focus-visible{
                    outline: none;
                }
                flex : 1 1;
                border: 1px solid #bbb;
                border-radius: 20px;
                height: 30px;
                margin-top: 10px;
                
            }

            label{
                line-height: 30px;
                width: 130px;
                align-items: center;
                text-align: left;
                margin-top: 10px;
                font-size: 15px;
            }
            .err-message{
                margin: auto;
            }
   
         }
         padding: 40px;
        
         .btn-login{
             &:hover{
                 opacity: 0.85;
             }
             cursor: pointer;
             margin: auto;
             color: white;
             height: 40px;
             background-color: #F05123;
             border: none;
             width: 80%;
             border-radius: 20px;
             margin-top: 20px;
         }
         
         
         h1{
             font-weight: bold;
         }
         .regis-now{
            margin-top: 20px;
            font-size: 15px;
            .suggest{
                margin: auto;
            }
         }

         
     }
 }   
}