@import "../constant/style.scss";
.login-background{
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url('https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1574');
    background-image: url('../../public/image/login-background.jpg');
    background-size: cover;
    .login-container{
      border-radius: 20px;
      background-color: #93939369;
      width: 40%;
      max-width: 400px;
     .login-content{
         padding: 16px 16px 30px 16px;
         width: 100%;

         &__title {
            color: #fff;
            text-align: center ;
            font-size: 30px ;
            font-weight: 800;
            color: #fff;
            margin-bottom: 50px;
            margin-top: 20px;
         }

         &__item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: $heightModule;
            margin-top: 20px;;
            

            span {
               font-size: $textFont !important;
               font-weight: $textWeight;
               color:  $whileColor;
            }

            input {
                width: 60%;
                height: $heightModule;
                border-radius: $borderRadius;
                border: none !important;
                background-color: $backgroundInput;
                padding: {
                    left: $mainPadding;
                    right: $mainPadding;
                }
                font-size: $textFont;
                &:focus {
                    border: none !important;
                    outline: none;
                }
            }
         }

         &__err {
            display: flex;
            justify-content: flex-end;
            margin-top: 12px;
            
            span {
                color: #efff00;
                font-size: $textFont;
                font-weight: $textWeight;

            }
         }
         &__btn {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 100%;
                border-radius: $borderRadius;
                height: $heightModule;
                background-color: $primaryColor;
                font-size: $buttonFont;
                padding: 0 $buttonPadding;
                font-weight: $buttonWeight;
                color: $whileColor;
                border: none;
                &:hover {
                    background-color: $primayHoverColor;
                }
                
            }
         }
         

         &__register {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            span {
                color: #fff;
            }
            a {
                margin-left: 10px;
                color:#efff00;

            }
         }
     }
 }   
}