@import '../../constant/style.scss';
.red-bg {
    background: #d32f2f;
}

.orange-bg {
    background: #F05123;
}

.green-bg {
    background: #5bc236;
}

.product-header-cta {
    padding        : 8px 20px;
    display        : inline-block;
    background     : #000;
    color          : #ffffff;
    text-decoration: none;
    border-radius  : 7px;
    border         : none;

    @media screen and (max-width: 767px) {
        display   : block;
        text-align: center;
    }

    &.product-cta {
        width     : 100px;
        text-align: center;
    }
}
.list-product-footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__index {
        margin: 0px 20px;
        color: $textColor;
        font-size: $textFont;
        font-weight: $textWeight;
    }

    button {
        border: 0px;
        span {
            font-size: 16px;;
        }
    }
}
