.red-bg {
    background: #d32f2f;
}

.orange-bg {
    background: #F05123;
}

.green-bg {
    background: #5bc236;
}

.product-header-cta {
    padding        : 8px 20px;
    display        : inline-block;
    background     : #000;
    color          : #ffffff;
    text-decoration: none;
    border-radius  : 7px;
    border         : none;

    @media screen and (max-width: 767px) {
        display   : block;
        text-align: center;
    }

    &.product-cta {
        width     : 100px;
        text-align: center;
    }
}