@import '../../constant/style.scss';
.header {
    text-align: center;
    font-size : 22px;
}

.field {
    display: flex;
    margin : 10px;

    .input {
        :focus{
            outline: none !important;
            background-color:#939393 !important;
        }

        flex         : 1 1;
        border-radius: 20px;
        height       : 30px;
        margin-top   : 10px;
        border: 0px !important;
        outline: none !important;
        padding-left: 10px;

    }

    .label {
        line-height: 30px;
        width      : 130px;
        align-items: center;
        text-align : left;
        margin-top : 10px;
        font-size  : 15px;
    }
}

.button-bar {
    display: flex;

    .btn-regis,
    .btn-cancel {
        &:hover {
            opacity: 0.85;
        }

        flex            : 1 1;
        cursor          : pointer;
        margin          : auto;
        color           : white;
        height          : 40px;
        background-color: #F05123;
        background-color: $primaryColor;
        border          : none;
        border-radius   : 20px;
        margin          : 20px 10px;
    }
    .btn-regis {
        background-color: $primaryColor !important;
    }
    .btn-regis,
    .btn-cancel {
        background-color: #DC3545;
    }


}

//đè
.modal-content.modal {
    background-color: #939393;
    border: 0px;
}