.wrapper {



    .wrapper-top-menu {
        top             : 0;
        position        : fixed;
        display         : flex;
        background-color: white;
        width           : 100%;
        height          : 100px;
        border-bottom   : 1px solid #eee;
        z-index         : 1;

        .nav-logo {
            margin-left    : 50px;
            flex           : 1 1;
            justify-content: flex-start;
            height         : 100%;

            img {
                width : 100px;
                height: 100%;
            }
        }

        .nav-body {
            align-items    : center;
            flex           : 1 1;
            height         : 100%;
            justify-content: center;
            display        : flex;

            .wrap-search-bar {
                border       : 2px solid #e8e8e8;
                border-radius: 20px;
                flex         : 1 1;
                height       : 40px;
                padding      : 0 16px 0 8px;
                transition   : border-color .2s ease-in-out;
                width        : 420px;

                .search-input {
                    border     : none;
                    caret-color: #444;
                    flex       : 1 1;
                    height     : 100%;
                    outline    : none;
                    padding    : 0 4px;
                    font-family: 'Lexend Deca', sans-serif;
                }

                .icon {
                    margin-right : 10px;
                    border-radius: 50%;
                    height       : 50px;
                    opacity      : .7;
                    transition   : opacity .2s ease-in-out;
                    width        : 50px;
                }
            }
        }

        .nav-action {
            margin-right   : 50px;
            align-items    : center;
            flex           : 1 1;
            height         : 100%;
            justify-content: flex-end;
            display        : flex;

            .action-item {
                padding: 0 20px;

                p {
                    margin-bottom: 0;
                }

                &.user-icon {
                    position: relative;

                    &:hover .user-action {
                        display: block;
                    }

                    .user-action {


                        z-index      : 9999;
                        position     : absolute;
                        display      : none;
                        width        : 120px;
                        right        : 0;
                        top          : 16px;
                        animation    : Tippy-module_fadeIn__2LeID .3s ease;
                        background   : white;
                        border-radius: 10px;
                        // box-shadow   : 0 -4px 32px rgb(0 0 0 / 20%);
                        color        : #1d2129;
                        margin       : 0;
                        overflow     : hidden;
                        padding-left : 0;
                        transition   : all .3s ease-in-out;
                        will-change  : opacity,
                            transform;

                        >a {
                            text-decoration: none;
                            color          : #000;
                            font-size      : 12px;

                            li {
                                &:hover {
                                    cursor          : pointer;
                                    background-color: #ccc;
                                }


                                text-align    : center;
                                padding       : 10px 10px;
                                border-bottom : 1px solid #eee;
                            }


                        }

                        li {
                            &:hover {
                                cursor          : pointer;
                                background-color: #ccc;
                            }

                            text-decoration: none;
                            color          : #000;
                            font-size      : 12px;
                            text-align     : center;
                            padding        : 10px 10px;
                            border-bottom  : 1px solid #eee;
                        }


                        :first-child {
                            padding-top  : 10px;
                            border-radius: 10px 10px 0 0;
                        }

                        :last-child {
                            padding-bottom: 10px;
                            border-radius : 0 0 10px 10px;
                        }
                    }
                }

            }
        }
    }

    .sidebar {
        position                 : fixed;
        top                      : 100px;
        left                     : 0;
        background               : white;
        width                    : 250px;
        height                   : calc(100% - 80px);
        border-bottom-left-radius: 20px;
        transition               : all 0.3s ease;

        ul li a {
            display      : block;
            padding      : 20px;
            color        : #000;
            position     : relative;
            margin-bottom: 1px;
            white-space  : nowrap;

            &::before {
                content   : "";
                position  : absolute;
                top       : 0;
                left      : 0;
                width     : 3px;
                height    : 100%;
                background: #92a6e2;
                display   : none;
            }


        }

        ul li a span.icon {
            display: inline-block;
        }

        ul li a span.title {
            margin-left: 10px;
            display    : inline-block;
        }

        ul li a:hover,
        ul li a.active {
            background: #F05123;
            color     : #fff;
        }

        ul li a:hover:before,
        ul li a.active:before {
            display: block;
        }
    }

    .props-container {
        margin-top : 100px;
        margin-left: 260px;
    }


}